@model MobilePhonesWebsite.ViewModels.PhoneCaseVM.CreatePhoneCaseVM
@using static MobilePhonesWebsite.Enumerators.SharedEnum
@{
    ViewBag.Title = "Add phone case";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/admin/CreateEditForm.css">
</head>
<body>
    <div class="column-form" style="margin-top:3%">
        <h1 style="margin-bottom:3%">Добави калъф за телефон</h1>
        <form id="Form" class="Form" action="/Admin/CreatePhoneCase" method="post" enctype="multipart/form-data">
            <div class="row">
                <input type="hidden" id="isBrandValid" value="" />
                <input type="hidden" id="isPriceValid" value="" />
                <input type="hidden" id="isFitForValid" value="" />

                <div class="column">
                    <div class="form-group input-control">
                        <label for="Brand">Марка</label>
                        <input id="Brand" asp-for="Brand" type="text">
                        <div class="error"></div>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group input-control">
                        <label for="FitFor">За(Телефон)</label>
                        <input id="FitFor" asp-for="FitFor" type="text">
                        <div class="error"></div>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group input-control">
                        <label for="Price">Цена(в лева)</label>
                        <input id="Price" asp-for="Price" type="number">
                        <div class="error"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="Form-group input-control">
                        <label for="Colour">Цвят</label>
                        <select asp-for="Colour" class="form-control" asp-items="Html.GetEnumSelectList<Colour>()"></select>
                        <div class="error"></div>
                    </div>
                </div>
                <div class="column">
                    <div class="Form-group input-control">
                        <input type="file" name="Image" id="file" accept=".png" placeholder="PhoneCase Image" />
                    </div>
                </div>
            </div>

            <button type="submit" class="button">Добави</button>
             <a href="PhoneCaseList">Назад</a>
        </form>
        <br />
    </div>
</body>
<script src="~/js/admin/ValidatePhoneCase.js"></script>
</html>